services:
  fdp_contest:
    # environment:
      # - HOST_IP=192.168.19.18:8000
      # - HOST_IP=192.168.19.204:8000
      # - HOST_IP=192.168.19.65:8000
      # - HOST_IP=127.0.0.1:8000
      # - HOST_IP=localhost:8000
      # - LAUNCH_ENV=Development
    volumes:
      - ./data:/app/data
    build: .
    ports:
      - "8000:8001"
      # - "5678:5678"
    restart: always